{% extends "layout/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container mt-5 ">
    <h1 class="form-group text-center ">{% trans "Sign In" %}</h1>
    {% get_providers as socialaccount_providers %}
    {% include "socialaccount/snippets/login_extra.html" %}



  <div class="form">
      <form class="login w-25 mx-auto" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form|crispy }}
          {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <div class="form-group text-center">
              <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          </div>
          <div class="form-group text-center">
              <button class="btn btn-success btn-lg btn-block" type="submit">{% trans "Sign In" %}</button>
          </div>
          <div class="form-group text-center">
              <a href="{% url 'account_signup' %}" class="btn btn-outline-secondary btn-lg btn-block" role="button">{% trans "Create and account" %}</a>
          </div>
      </form>
  </div>
</div>
    <div class="container text-center pt-3">
        <div class="login-or">
            {% trans 'or sign in with:' %}
        </div>
        <div class="container text-center mt-1">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
{% endblock %}
